*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.boardContainerWhite{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
}

.boardContainerBlack{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    flex-direction: column-reverse;
}

.tileRowWhite{
    min-width: 480px;
    display: flex;
}

.tileRowBlack{
    min-width: 480px;
    display: flex;
    flex-direction: row-reverse;
}

.tile{
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.white{
    background-color: navajowhite;
}

.black{
    background-color: peru;
    color: antiquewhite;
}

.active{
    background-color: dodgerblue;
}

.available{
    background-color: limegreen;
    border: 2px solid forestgreen;
}

.capture{
    background-color: firebrick;
    border: 2px solid lightcoral;
}