*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
}

/* .row{

} */

.tile{
    width: 75px;
    height: 75px;
    display: inline-block;
}

.white{
    background-color: navajowhite;
}

.black{
    background-color: peru;
    color: antiquewhite;
}